/* 
    Document   : csselements_medium.css
    Created on : Oct 4, 2013, 7:09:07 PM
    Author     : Chris Meyers
    Description:
        Mid size window desktop stylesheet.
*/

@media screen and (min-width: 807px) and (max-width: 1217px) {
    /********************* GENERAL *********************/
    html {
        position: relative;
        min-height: 100%;
    }
    
    body { 
        background-image: url(../images/bg/colorado.jpg);
        background-color: #414753;
        background-attachment: fixed;
        background-size: cover;
        margin: 0 0 60px; /* 3rd parameter must = #footer height */
    }

    /********************* HEADER *********************/
    .headerLink {
        color: white;
        text-decoration: none;
        font-family: Verdana, Geneva, sans-serif;
    }

    #banner {
        float: left;
        height: 90px;
    }
    
    .banner-img-small {
        display: none;
    }
    
    .banner-img {
        display: inline-block;
        float: left;
    }
    
    .bannerBar-size {
        height: 90px;
    }

    .sectionTitle-about, .sectionTitle-resume, .sectionTitle-builds, .sectionTitle-projects, .sectionTitle-contact {
        display: none;
    }

    #sectionTitle-menu {
        float: right;
        width: 100px;
        height: 90px;
        background-color: rgb(33,40,55);
        display: table-cell;
        margin-right: 20px;
        vertical-align: middle;
        color: white;
        font-size: x-large;
        font-family: Verdana, Geneva, sans-serif;
        text-align: center;
    }
    
    .sectionTitle-small-txt {
        vertical-align: middle;
        line-height: 45px;
        text-align: center;
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    .sectionTitle-small-txt-last {
        vertical-align: middle;
        line-height: 45px;
        text-align: center;
    }
    
    .sectionTitle-about:hover, .sectionTitle-resume:hover, .sectionTitle-builds:hover,
        .sectionTitle-projects:hover, .sectionTitle-contact:hover, #sectionTitle-menu:hover {
        background-color: #5bb75b;
        cursor: pointer;
        display: block;
    }
    
    #menu-dropdown {
        margin-top: 4px;
        padding: 0;
        list-style: none;
        list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    }
    
    #menu-toggle {
        width: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #menu-items {
        padding: 4px;
        list-style: none;
        list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
        display: none;
        background-color: rgb(33,40,55);
        position: absolute;
        box-shadow: 0 0 0 4px #FFFFFF inset;
        margin-left: auto;
        left: 0px;
        right: 0px;
        width: 300px;
    }
    
    #menu-items li {
        height: 50px;
    }
    #menu-items li:hover {
        background-color: #5bb75b;
    }

    .menu-items {
        background-image: url("images/menuIcon.png");
    }
    
    .menu-items:hover {
        background-image: url("images/menuIcon.png");
    }

    /********************* CONTENT *********************/
    .section-header-size {
        width: 790px;
        height: 90px;
        line-height: 80px;
        font-size: 40px;
    }

    .content-size {
        width: 790px;
        top: 90px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px; /* Add more spacing between footer and content */
        margin-top: 20px; /* Used for a fixed banner */
        position: relative;
    }

    #about-me, #my-resume, #my-builds, #my-projects, #contact-me {
        display: none;
    }

    /********************* BUILDS *********************/
    .build-pic {
        float: left;
    }

    .build-specs {
        margin-left: 50%;
    }

    /********************* PROJECTS *********************/
    .projImages {
        float: left;
    }
    
    .projImages-full-img-square {
        height: 250px;
        width: 250px;
    }
    
    .projImages-full-img-land {
        height: 150px;
        width: 250px;
    }
    
    .projImages-full-img-port {
        height: 250px;
        width: 150px;
    }
    
    .projDesc {
        margin-left: 40%;
    }

    /********************* CONTACT *********************/
    .alert-offset {
        margin-left: 0px;
    }
    
    .contact-links {
        float: left;
    }

    .contact-form {
        margin-left: 40%;
    }

    /********************* FOOTER *********************/
    .footer-size {
        position: fixed;
        padding-top: 5px;
        padding-bottom: 5px;
    }
   
    .footer-links {
        padding-left: 10px;
        display: inline-block;
        float: left;
    }

    .footer-years {
        display: inline-block;
        float: right;
        padding-right: 10px;
    }

    /********************* PROMPT *********************/
    #prompt-div, #prompt-caret, #prompt {
        display: none;
    }
}
