/* 
    Document   : csselements.css
    Created on : Oct 4, 2013, 7:09:07 PM
    Author     : Chris Meyers
    Description:
        Fullscreen desktop stylesheet.
*/

@media screen and (min-width: 1218px){
    /********************* GENERAL *********************/
    html {
        position: relative;
        min-height: 100%;
    }
    
    body { 
        background-image: url(../images/bg/colorado.jpg);
        background-color: #414753;
        background-attachment: fixed;
        background-size: cover;
        margin: 0 0 60px; /* 3rd parameter must = #footer height */
    }

    /********************* HEADER *********************/
    .headerLink {
        color: white;
        text-decoration: none !important;
        font-family: Verdana, Geneva, sans-serif;
        display: inline-block;
    }

    #banner {
        float: left;
        height: 90px;
    }
    
    .banner-img-small {
        display: none;
    }
    
    .banner-img {
        display: inline-block;
        float: left;
    }
    
    .bannerBar-size {
        height: 90px;
    }

    .sectionTitle-about, .sectionTitle-resume, .sectionTitle-builds, .sectionTitle-projects {
        float: right;
        width: 100px;
        height: 90px;
        background-color: rgb(33,40,55);
        display: inline-block;
        margin-right: 30px;
        color: white;
        font-size: x-large;
        font-family: Verdana, Geneva, sans-serif;
        text-align: center;
    }

    .sectionTitle-contact {
        float: right;
        width: 100px;
        height: 90px;
        background-color: rgb(33,40,55);
        display: table-cell;
        margin-right: 25px;
        vertical-align: middle;
        color: white;
        font-size: x-large;
        font-family: Verdana, Geneva, sans-serif;
        text-align: center;
    }
    
    .sectionTitle-txt {
        margin-top: 24px;
    }
    
    #sectionTitle-menu {
        display: none;
    }
    
    .sectionTitle-about:hover, .sectionTitle-resume:hover, .sectionTitle-builds:hover, 
        .sectionTitle-projects:hover, .sectionTitle-contact:hover, #sectionTitle-menu:hover {
        box-sizing: border-box;
        border-bottom: solid 5px #5bb75b;
        cursor: pointer;
    }

    /********************* CONTENT *********************/
    .section-header-size {
        width: 790px;
        height: 90px;
        line-height: 80px;
        font-size: 40px;
    }

    .content-size {
        width: 790px;
        top: 90px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px; /* Add more spacing between footer and content */
        margin-top: 20px;
        position: relative;
    }

    #about-me, #my-resume, #my-builds, #my-projects, #contact-me {
        display: none;
    }

    /********************* BUILDS *********************/
    .build-pic {
        float: left;
    }

    .build-specs {
        margin-left: 50%;
    }

    /********************* PROJECTS *********************/
    .projImages {
        float: left;
    }
    
    .projImages-full-img-square {
        height: 250px;
        width: 250px;
    }
    
    .projImages-full-img-land {
        height: 150px;
        width: 250px;
    }
    
    .projImages-full-img-port {
        height: 250px;
        width: 150px;
    }
    
    .projDesc {
        margin-left: 40%;
    }

    /********************* CONTACT *********************/
    .alert-offset {
        margin-left: 0px;
    }

    .contact-links {
        float: left;
    }

    .contact-form {
        margin-left: 40%;
    }

    /********************* FOOTER *********************/
    .footer-size {
        position: fixed;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .footer-links {
        padding-left: 10px;
        display: inline-block;
        float: left;
    }

    .footer-years {
        display: inline-block;
        float: right;
        padding-right: 10px;
    }

    /********************* PROMPT *********************/
    .prompt-style {
        background-color: rgba(0,0,0,0.85);
        color: #00CC00;
        font-family: "Courier New", Courier, monospace;
        border: 0;
    }

    #prompt-div {
        bottom: 35px;
        margin-left: 5px;
        position: fixed;
        display: none;
    }

    #prompt-caret {
        width: 1.5%;
        float: left;
        font-weight: bold;
    }
    #prompt-caret:focus {
        outline: none;
    }

    #prompt {
        width: 500px;
        float: right;
    }
    #prompt:focus {
        outline: none;
    }
    #prompt::-ms-clear {
        width: 0px;
        height: 0px;
    }

    #prompt-textarea {
        width: 525px;
        border: 0;
        resize: none;
        position: absolute;
        bottom: 30px;
        display: none;
        font-size: 12px;
        height: 125px;
    }
    #prompt-textarea:focus {
        outline: none;
    }

    #prompt-textarea-btn {
        border: 0;
    }
    #prompt-textarea-btn:focus {
        outline: none;
    }
}
