/* 
    Document   : csselements_print.css
    Created on : Dec 10, 2014, 8:20:16 PM
    Author     : Chris Meyers
    Description:
        Printing stylesheet.
*/

@media print{
    html {
        font-family: Verdana, Geneva, sans-serif;
    }

    .fancytxt {
        color: #000000;
    }

    #bannerBar {
        display: none;
    }
    
    .section-header {
        font-size: 28px;
        background-color: #FFFFFF;
        text-align: left;
    }
    
    .content {
        font-size: 12px;
    }
    
    .build-pic-img-land {
        height: 220px;
        width: 350px;
    }
    .build-pic-img-port {
        height: 375px; 
        width: 290px;
    }
    
    .projImages-full-img-square {
        height:200px;
        width: 200px;
    }
    
    .projImages-full-img-land {
        height:125px;
        width: 200px;
    }
    
    .projImages-full-img-port {
        height:200px;
        width: 125px;
    }
    
    .projImages-small {
        display: inline;
    }
    
    .projImages-small-img-square {
        height: 200px;
        width: 200px;
        margin-left: 20px;
    }
    
    .projImages-small-img-land {
        height: 40%;
        width: 40%;
        margin-left: 20px;
    }
    
    .projImages-small-img-port {
        height: 25%;
        width: 25%;
        margin-left: 20px;
    }
    
    .no-decoration {
        text-decoration: none;
    }
    
    .proj-link {
        width: 16px;
        height: 16px;
    }
    
    .force-col-specs {
        display: block;
    }
    
    .textarea-mod {
        height: 700px;
        width: 750px;
    }

    #prompt-div, #prompt-caret, #prompt {
        display: none;
    }

    #footer {
        display: none;
    }
}
