/* 
    Document   : csselements_print
    Created on : Dec 10, 2014, 8:20:16 PM
    Author     : Chris Meyers
    Description:
        Printing stylesheet.
*/

@media print{
    html{
        font-family: Verdana, Geneva, sans-serif;
    }

    #bannerBar{
        display: none;
    }

    .banner-img-small, .banner-img, .proj-link, .proj-bullets, .banner-nav, #banner-icon, #footer,
        #slide-code-cm,
        #slide-code-genomic,
        #slide-website-pine, #slide-code-pine,
        #slide-code-ttt,
        #slide-website-lol_player, #slide-code-lol_player,
        #slide-code-pca,
        #slide-code-bms,
        #slide-code-lol_status
    {
        display: none;
    }
    
    .section-header{
        font-size: 28px;
    }
    
    .content{
        font-size: 12px;
    }
    
    .build-pic-img-land{
        height: 150px;
        width: 230px;
    }
    .build-pic-img-port{
        height:250px; 
        width:200px;
    }
    
    .projImages-full-img-square{
        height:200px;
        width: 200px;
    }
    
    .projImages-full-img-land{
        height:125px;
        width: 200px;
    }
    
    .projImages-full-img-port{
        height:200px;
        width: 125px;
    }
    
    .projImages-small{
        display: inline;
    }
    
    .projImages-small-img-square{
        height: 200px;
        width: 200px;
        margin-left: 20px;
    }
    
    .projImages-small-img-land{
        height: 40%;
        width: 40%;
        margin-left: 20px;
    }
    
    .projImages-small-img-port{
        height: 25%;
        width: 25%;
        margin-left: 20px;
    }
    
    .no-decoration{
        text-decoration: none;
    }
    
    .proj-link{
        width: 16px;
        height: 16px;
    }
    
    .force-col-specs{
        display: block;
    }
    
    .textarea-mod{
        height: 700px;
        width: 750px;
    }

    #prompt-div, #prompt-caret, #prompt{
        display: none;
    }   
}