/* 
    Document   : csselements_medium
    Created on : Oct 4, 2013, 7:09:07 PM
    Author     : Chris Meyers
    Description:
        Mid size window desktop stylesheet.
*/
@media screen and (min-width: 949px) and (max-width: 1338px) {
    html{
        position: relative;
        min-height: 100%;
    }
    
    body { 
        background-image: url(images/bg/colorado.jpg);
        /*background-repeat:no-repeat;*/
        background-attachment: fixed;
        background-size: cover;
        margin: 0 0 60px; /*3rd parameter must = #footer height*/
    }
    
    .errors{
        font-weight: bold;
        color: red;
        text-align: center;
    }
    
    p.message{
        width:auto;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    /* Remove IE img link border*/
    img{
      border: 0;
    }
    
    img.section{
        width: 790px;
    }
    
    .build{
        width: 100%;
        height: auto;
        display: inline-block;
        margin-bottom: 10px;
    }
    .build-info{
        margin: 10px;
        padding: 0;
    }
    .build-pic{
        float: left;
    }
    .build-pic-img-land{
        height: 150px;
        width: 230px;
    }
    .build-pic-img-port{
        height:250px; 
        width:200px;
    }
    .build-specs{
        margin-left: 50%;
    }
    
    table.inputs{
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    
    table.comments{
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    dt {
        margin-top: 15px;
    }
    
    h2.first-header, h3.first-header{
        margin-top: 0px;
    }
    
    table.inputs{
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    
    table.comments{
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }
    
    input{
        width: 190px;
        height:25px;
        font-family: Verdana, Geneva, sans-serif;
    }
    
    textarea{
        width: 415px;
        height: 100px;
        font-family: Verdana, Geneva, sans-serif;
    }
    
    td.force-col-right{
        padding-right: 10px;
    }
    td.force-col-left{
        padding-left: 10px;
    }

    .fancytxt{
        /*color: #a9302a;*/
        /*color: #CC2900;*/
        color: #FFFFFF;
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
    }

    .fancytxt:hover{
        color:#5bb75b;
        cursor: pointer;
    }

    #banner{
        float:left;
        height: 90px;
    }
    
    div.banner-img-small{
        display: none;
    }
    
    #bannerBar{
        height: 90px;
        background-color: rgb(33,40,55);
        padding-right: 6px;
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: 4px;
        /*box-shadow: 0 0 0 4px grey inset;*/
        /*Make content scroll "under" banner*/
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }

    #banner-icon-small{
        display:none;
    }

    .sectionTitle-about, .sectionTitle-builds, .sectionTitle-projects, .sectionTitle-contact{
        display: none;
    }

    #sectionTitle-menu{
        float: right;
        width: 100px;
        height:90px;
        background-color: rgb(33,40,55);
        display: table-cell;
        margin-right: 20px;
        vertical-align: middle;
        color: white;
        font-size: x-large;
        font-family: Verdana, Geneva, sans-serif;
        text-align: center;
    }
    
    .sectionTitle-txt{
        vertical-align: middle;
        line-height: 45px;
        text-align: center;
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: 1px;
    }
    
    .sectionTitle-about:hover, .sectionTitle-builds:hover, .sectionTitle-projects:hover,
        .sectionTitle-contact:hover, #sectionTitle-menu:hover{
        background-color: #5bb75b;
        cursor: pointer;
        display: block;
    }
    
    #menu-dropdown{
        margin-top: 4px;
        padding: 0;
        list-style: none;
    }
    
    #menu-toggle{
        width: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #menu-items{
        padding: 4px;
        list-style: none;
        display: none;
        background-color: rgb(33,40,55);
        position: absolute;
        box-shadow: 0 0 0 4px #FFFFFF inset;
        float:left; clear:right;
        left: 0px;
        right: 0px;
    }
    
    #menu-items li{
        height: 50px;
    }
    #menu-items li:hover{
        background-color: #5bb75b;
    }

    select.menu-items{
        background-image: url("images/menuIcon.png");
    }
    
    select.menu-items:hover{
        background-image: url("images/menuIcon.png");
    }
    
    .content {
        color:#FFFAFA;
        width: 790px;
        top: 90px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px; /* Add more spacing between footer and content */
        -webkit-margin-bottom-collapse: separate; /* Fixes margin-bottom for non-chrome browsers*/
        margin-top: 20px; /*Used for a fixed banner*/
        background-color: rgba(33,40,55,0.75);
        font-family: Verdana, Geneva, sans-serif;
        font-size: medium;
        position: relative;
    }
    
    .content-text{
        padding: 5px;
    }
    
    .spacer{
        overflow: hidden;
        height: 0px;
        width: 0px;
    }
    
    .headerLink{
        color: white;
        text-decoration: none;
        font-family: Verdana, Geneva, sans-serif;
    }

    #footer {
        font-size: small; 
        font-family: Verdana, Geneva, sans-serif;
        color:white;
        position: fixed;
        bottom: 0;
        height: auto;
        left:0;
        right:0;
        background-color: rgb(33,40,55);
        padding-top:5px;
        padding-bottom: 5px;
        border-top-color: white;
        border-top-style: solid;
        border-top-width: 4px;
    }
   
    .footer-links{
        padding-left: 10px;
        display: inline-block;
        float: left;
    }
    
    .footer-social{
        display: inline-block;
        vertical-align: middle;
    }
    
    .footer-bullets{
        display: inline-block;
        vertical-align: middle;
    }
    
    .footer-resume{
        display: inline-block;
        vertical-align: middle;
    }

    .footer-years{
        display: inline-block;
        float: right;
        padding-right: 10px;
    }

    div#builds, div#projects, div#contact{
        display:none;
    }
    
    /*Used in projects section*/
    div.proj{
        height: auto;
    }
    
    div.projWrapper{
        margin: 10px;
        padding: 0;
    }
    
    div.projImages{
        float:left;
    }
    
    .projImages-full-img-square{
        height:200px;
        width: 200px;
    }
    
    .projImages-full-img-land{
        height:125px;
        width: 200px;
    }
    
    .projImages-full-img-port{
        height:200px;
        width: 125px;
    }
    
    .projImages-small-img-square, .projImages-small-img-port{
        height: 20px;
        width: 20px;
    }
    
    .projImages-small-img-land{
        height: 20px;
        width: 40px;
    }
    
    div.projDesc{
        margin-left: 30%;
    }
    
    .no-decoration{
        text-decoration: none;
    }
    
    .proj-link{
        width: 16px;
        height: 16px;
    }
    
    .li-filled{
        list-style-type: disc;
    }
    
    /* This button was generated using CSSButtonGenerator.com */
    .submit-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
	/*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');*/
	background-color:#3d94f6;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
    }
    .submit-button:hover {
        background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
        background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
        /*filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');*/
        background-color:#1e62d0;
    }.submit-button:active {
        position:relative;
        top:1px;
    }
    
    .inputbox-mod{
        padding-left: 5px;
        padding-right: 5px;
        font-size: small;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #cccccc;
    }
    .inputbox-mod:focus{
        outline: none;
        border-color: #5bb75b;
        box-shadow: 0 0 10px #5bb75b;
    }
    
    .textarea-mod{
        padding-left: 5px;
        padding-right: 5px;
        font-size: small;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #cccccc;
    }
    .textarea-mod:focus{
        outline: none;
        border-color: #5bb75b;
        box-shadow: 0 0 10px #5bb75b;
    }
}

